body{
    padding: 0;
    margin:0;
    background-color: #CCBCBC;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 14px 48px;
    background-color: #F1E3E4;
    opacity: 0.7;
    position: fixed;
    width: 96%;
}
.nav-links{
    display: flex;
    gap: 30px;
    background-color: #A288A6 ;
    padding: 1rem 2rem;
    border-radius: 15px;
}
.socials{
    display: flex;
    gap: 20px;
}
.nav-bar a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.about-me{
    padding: 64px 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.profile-photo{
    height: 500px;
    width: 450px;
    background-color: white;
}
.bio{
    text-align: justify;
    font-size: 1.3rem;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.main-projects{
    background-color: #2B2D42;
    padding: 1rem;
}
.main-projects h2{
    padding: 0 2em ;
    color: white;
    
}
.conjunctions{
    color: white; 
    margin-left: 50px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2em;
}
.project-card{
    flex: 1 1 300px;
    margin: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    background-color: #A288A6;
    max-width: max-content;
    padding: 40px;
}
.project-card img{
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    
}
.project-card h3{
    text-align: justify;
    /* color: #E6E1C5; */
}
.project-card p{
    text-align: justify;
    /* color: white; */
}
.project-card:hover{
    transform: scale(1.05);
}
.live-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.live-link :hover {
    text-decoration: underline;
}
.skills{
    margin-left: 5rem;
}
.skills-table{
    
    border-spacing: 3rem 0;
}
.skills-table td {
    padding-top: 2rem;
    
}
.skills-table th{
    text-align: left;
}