body{
    padding: 0;
    margin:0;
    background-color: #AFD2E9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 14px 48px;
    background-color: #d0e0eb;
    opacity: 0.7;
}
.nav-links{
    display: flex;
    gap: 30px;
    background-color: #9D96B8 ;
    padding: 1rem 2rem;
    border-radius: 15px;
}
.socials{
    display: flex;
    gap: 20px;
}
.nav-bar a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.about-me{
    padding: 64px 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.profile-photo{
    height: 500px;
    width: 450px;
    background-color: white;
}
.bio{
    text-align: justify;
    font-size: 1.3rem;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.main-projects{
    background-color: #706677;
    padding: 1rem;
}
.main-projects h2{
    padding: 2em;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}
.project-card{
    flex: 1 1 300px;
    margin: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    background-color: #565264;
    max-width: max-content;
    padding: 40px;
}
.project-card img{
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    
}
.project-card h3{
    text-align: justify;
    color: #A6808C;
}
.project-card p{
    text-align: justify;
}
.project-card:hover{
    transform: scale(1.05);
}
.live-link {
    text-decoration: none;
    color: #A6808C;
    text-align: justify;
}
.live-link :hover {
    text-decoration: underline;
}